<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>notetag</title>

	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
</head>

<body>

<div id="main">

	<div id="content">

	<img src="/static/images/main.png" />


	<p id="pretentious">Your notes. <span style="color: rgb(58,143,193)"> Tagged. </span> In the cloud. Magic.</p>

	<p id="pretentious"><a href="/login/">Login</a> to experience</p>
		<div id="login">
		~login stuff here~

		</div>

	</div>

	<div id="footer">
	</div>

</div>

</body>
</html>